@{
    Layout = "_Layout";
}
@{
    string UserName = "";
    bool IsAdmin = false;
    if (TempData["IdUser"] != null)
    {
        int IdUser = (int)TempData["IdUser"];
        UserName = (string)TempData["UserName"];
        string AccountUser = (string)TempData["AccountUser"];
        string AccountPass = (string)TempData["AccountPass"];
        string UserImage = (string)TempData["UserImage"];
        IsAdmin = (bool)TempData["CheckAdmin"];
    }
}

<!---Side Menu Start--->
<title>Shopping Online</title>
<div class="ms_sidemenu_wrapper">
    <div class="ms_nav_close">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <div class="ms_sidemenu_inner">
        <div class="ms_logo_inner">
            <div class="ms_logo">
                <a href="/Home/index"><img img src="~/images/logo.png" alt="" class="img-fluid" /></a>
            </div>
            <div class="ms_logo_open">
                <a href="/Home/index"><img img src="~/images/open_logo.png" alt="" class="img-fluid" /></a>
            </div>
        </div>
        <div class="ms_nav_wrapper">
            <ul>
                <li>
                    <a href="/Home/index" title="Discover">
                        <span class="nav_icon">
                            <span class="icon icon_discover"></span>
                        </span>
                        <span class="nav_text">
                            discover
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Home/Album" title="Albums">
                        <span class="nav_icon">
                            <span class="icon icon_albums"></span>
                        </span>
                        <span class="nav_text">
                            albums
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Home/Artists" title="Artists">
                        <span class="nav_icon">
                            <span class="icon icon_artists"></span>
                        </span>
                        <span class="nav_text">
                            artists
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Home/Genres" title="Genres">
                        <span class="nav_icon">
                            <span class="icon icon_genres"></span>
                        </span>
                        <span class="nav_text">
                            genres
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Shopping/Shopping/ShoppingHome" class="active" title="Shopping">
                        <span class="nav_icon">
                            <span class="icon icon_purchased"></span>
                        </span>
                        <span class="nav_text">
                            shopping
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="ms_content_wrapper padder_top80">
    <!---Header--->
    <div class="ms_header">
        <div class="ms_top_left">
            <form action="/Home/Index" method="GET">
                <div class="ms_top_search">
                    <input type="text" class="form-control" name="nameMusicSearch" placeholder="Search Product..">
                    <button type="submit" class="search_icon">
                        <img img src="~/images/svg/search.svg" alt="">
                    </button>
                </div>
            </form>
            <div class="ms_top_trend">
                <span><a href="#" class="ms_color">Top Sale :</a></span> <span class="top_marquee"><a href="#">Dream your moments, Until I Met You</a></span>
            </div>
        </div>
        <div class="ms_top_right">
            <div class="ms_top_lang">
                <span data-toggle="modal" data-target="#lang_modal">languages <img img src="~/images/svg/lang.svg" alt=""></span>
            </div>
            <div class="ms_top_btn">
                @if (!string.IsNullOrEmpty(UserName))
                {
                    <a href="/Home/ProFile" class="ms_btn_Hello login_btn"><span>Hello: @UserName</span></a>
                    if (IsAdmin == true)
                    {
                        <a href="/Admin/Home" class="ms_btn login_btn"><span>Page Admin</span></a>
                    }
                    <a href="/Home/Login" class="ms_btn login_btn"><span>logout</span></a>
                }
                else
                {
                    <a href="/Home/Register_Here" class="ms_btn reg_btn"><span>register</span></a>
                    <a href="/Home/Login" class="ms_btn login_btn"><span>login</span></a>
                }
            </div>
        </div>
    </div>
</div>
<div class="page-content-product">
    <div class="main-product">
        <div class="container">
            <div class="row clearfix">
                <div class="find-box">
                    <h1>Find your next product or<br>business partner here.</h1>
                    <h4>It has never been easier.</h4>
                    <div class="product-sh">
                        <div class="col-sm-9">
                            <div class="form-sh">
                                <input type="text" placeholder="Search product your like">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-sh"> <a class="btn" href="#">Search</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="/Shopping/Shopping/ProductShop">
                        <div class="box-img">
                            <h4>Product</h4>
                            <img src="~/shopping/images/product/1.png" alt="" />
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img">
                            <h4>Product</h4>
                            <img src="~/shopping/images/product/2.png" alt="" />
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img">
                            <h4>Product</h4>
                            <img src="~/shopping/images/product/4.png" alt="" />
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img">
                            <h4>Product</h4>
                            <img src="~/shopping/images/product/5.png" alt="" />
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img">
                            <h4>Product</h4>
                            <img src="~/shopping/images/product/10.png" alt="" />
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img">
                            <h4>Product</h4>
                            <img src="~/shopping/images/product/11.png" alt="" />
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img">
                            <h4>Product</h4>
                            <img src="~/shopping/images/product/12.png" alt="" />
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img">
                            <h4>Product</h4>
                            <img src="~/shopping/images/product/13.png" alt="" />
                        </div>
                    </a>
                </div>
                <div class="categories_link" style="width:100%; text-align:center">
                    <a href="#">Browse all categories here</a>
                </div>
            </div>
        </div>
    </div>
</div>