<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/js/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/js/plugins/nice_select/nice-select.css">
    <link rel="stylesheet" type="text/css" href="~/js/plugins/scroll/jquery.mCustomScrollbar.css">
    <link href="~/css/message.css" rel="stylesheet" />
    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.png">
    <script src="https://kit.fontawesome.com/fc74be768b.js" crossorigin="anonymous"></script>
</head>
<body>
    @RenderBody()
    <!--Main js file Style-->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/swiper/js/swiper.min.js"></script>
    @RenderSection("ScriptsMessage",false)
</body>

</html>